<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @game_session.period %>
</p>

<%= link_to 'Edit', edit_game_session_path(@game_session) %> |
<%= link_to 'Back', game_sessions_path %>
